<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<connectionStrings>

		<!--
		<add name="NarcoticsDB" 
	    connectionString="Data Source=10.144.77.32;Initial Catalog=Narcotics Drugs Management;Integrated Security=False;User ID=sa;Password=James@123;" providerName="System.Data.SqlClient" />

		-->

		<add name="NarcoticsDB" providerName="System.Data.SqlClient"
		connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=Narcotics Drugs Management;Integrated Security=True;
         Connect Timeout=10000;Pooling=True;Min Pool Size=5;Max Pool Size=50;MultipleActiveResultSets=True" />
		
		
		
	</connectionStrings>
</configuration>
