<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>

	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="DENY" />
			</customHeaders>
		</httpProtocol>
        <defaultDocument>
            <files>
                <add value="/FrontEnd/Default.aspx" />
            </files>
        </defaultDocument>
	</system.webServer>


	<appSettings>
		
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
		
		<add key="ProjectName" value="NDPS Monitoring System" />
		<add key="ProjectTitle" value="Schedule H and H1 (Narcotic Drugs and Psychotropic Substances Monitoring System)" />
		
	</appSettings>
	
	
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		
	</system.web>
	<connectionStrings>
        <remove name="LocalSqlServer" />
        


		
		<!--
		
		<add name="NarcoticsDB" providerName="System.Data.SqlClient"
			 connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=NarcoticsDrugsManagement;Integrated Security=True;
     Connect Timeout=10000;Pooling=True;Min Pool Size=5;Max Pool Size=50;MultipleActiveResultSets=True;uid=sa;pwd:admin" />


		<add name="NarcoticsDB" 
	    connectionString="Data Source=10.144.77.31;Initial Catalog=Narcotics Drugs Management;Integrated Security=False;User ID=sa;Password=James@123;" providerName="System.Data.SqlClient" />

	<add name="NarcoticsDB" providerName="System.Data.SqlClient"
			 connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=NarcoticsDrugsManagement;Integrated Security=True;
     Connect Timeout=10000;Pooling=True;Min Pool Size=5;Max Pool Size=50;MultipleActiveResultSets=True;" />
		
	
		-->



		<add name="NarcoticsDB" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\ProjectModels;      Initial Catalog=NarcoticsDrugsManagement;      Integrated Security=True;      Connect Timeout=10000;      Pooling=True;      Min Pool Size=5;      Max Pool Size=50;      MultipleActiveResultSets=True;   database=NarcoticsDrugsManagement;      User ID=sa;      Password=admin" />



	</connectionStrings>

	
	
</configuration>
